<div id="tree-container"><svg id="tree"></svg></div>
    
<div id="node-info-container" >
    <table><tr>
    <td valign="top" align="right"><table id="node-info" class="kv-table"></table></td>
    <td valign="top" aligh="left"><table id="codes" class="kv-table"></table></td>
    </tr><table>
</div>