<script src="/notebooks/d3viewer/d3.v3.min.js" charset="utf-8"></script>
<script src="/notebooks/d3viewer/tree.js" charset="utf-8"></script>

<style>
    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }

    .node circle:hover {
        fill: steelblue;
    }

    .node circle.selected {
        stroke: navy;
        fill: steelblue;
    }

    .node text { font: 12px sans-serif }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }

    .kv-table { text-transform: capitalize; text-align:left;}
    .kv-table tr:first-child { font-weight: bold;}

    #tree-container { margin: 0 auto; width: 750px;}
    #node-info-container { margin: 0 auto; width: 750px;}
    #node-info { width: 375px;}
    #codes {widht: 375px;}
</style>